@model App.Models.usermodel

@{
    var isactive = Model.tabid == 3 ? "active" : "inactive";
}

<div class="tab-pane @isactive" id="rolePages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("addrolepage", "User", FormMethod.Post))
                {
                    <input type="hidden" asp-for="tabid">
                    <input type="hidden" asp-for="rolepageid">

                    <div class="row">
                        @* <div class="col-md-12 mb-3">
                    <label for="ID" class="form-label fw-semibold">ID:</label>
                    <input type="text" class="form-control" id="ID">
                    </div>*@

                        <div class="col-md-6 mb-3">
                            <label for="roleId" class="form-label fw-semibold">ROLE ID:</label>
                            <select class="form-control" id="roleId" asp-for="roleid" asp-items="@(new SelectList(Model.rolelist,"id","rolename"))"></select>

                            @*<select class="form-control" id="roleId"
                                data-coreui-search="true">
                                <option value="0">---select role id---</option>
                                @foreach (var x in Model.rolelist)
                                {
                                    <option value="@x.id">@x.rolename</option>
                                }
                            </select>*@
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="pageId" class="form-label fw-semibold">PAGE ID:</label>

                            <select class="form-control" id="pageId" asp-for="pageid" asp-items="@(new SelectList(Model.pagelist,"id","pagename"))">
                            </select>


                            @*<select class="form-multi-select" id="pageId"
                                multiple data-coreui-search="true">
                               
                                @foreach (var x in Model.pagelist)
                                {
                                    <option value="@x.id">@x.pagename</option>
                                }
                            </select>*@
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info rounded-pill w-25 mt-3 mb-3 fw-semibold text-light text-center ms-auto text-uppercase justify-content-end">Submit</button>
                }





                <div class="list-view">
                    <table id="rolePage-lists" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ROLE ID</th>
                                <th>PAGE ID</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var x in Model.rolepagelist)
                            {
                                <tr>
                                    <td>@x.id</td>
                                    <td>
                                        <span class="badge bg-success-gradient">@x.role.rolename</span>
                                    </td>


                                    <td>
                                        <span class="badge bg-success-gradient">@x.page.pagename</span>
                                    </td>


                                    <td>
                                        <a class="btn btn-success me-2" href="/user/editrolepage/@x.id">
                                            <i class="cil-pencil icon icon-sm"></i>
                                        </a>
                                        <a class="btn btn-info me-2" href="/user/deleterolepage/@x.id">
                                            <i class="cil-trash icon icon-sm"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>