@model App.Models.usermodel

@{
    var isactive = Model.tabid == 4 ? "active" : "inactive";
}

<div class="tab-pane @isactive" id="users">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("adduser", "User", FormMethod.Post))
                {
                    <input type="hidden" asp-for="tabid">
                    <input type="hidden" asp-for="userid">

                    <div class="row">
                        @*<div class="col-md-6 mb-3">
                    <label for="ID" class="form-label fw-semibold">ID:</label>
                    <input type="text" class="form-control" id="ID">
                    </div>*@

                        <div class="col-md-6 mb-3">
                            <label for="username" class="form-label fw-semibold">USER NAME:</label>
                            <input required type="text" asp-for="username" class="form-control" id="username">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label fw-semibold">PASSWORD:</label>
                            <input required type="text" asp-for="pswd" class="form-control" id="password">
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label for="roleId" class="form-label fw-semibold">ROLE ID:</label>

                            <select required class="form-control" id="roleId" asp-for="roleid" asp-items="@(new SelectList(Model.rolelist,"id","rolename"))">
                                <option value="" selected>--- SELECT ---</option>
                            </select>
                            @*<select class="form-multi-select" id="roleId"
                        multiple data-coreui-search="true">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        </select>*@
                        </div>
                    </div>


                    <button type="submit" class="btn btn-info rounded-pill w-25 mt-3 mb-3 fw-semibold text-light text-center ms-auto text-uppercase justify-content-end">Submit</button>
                }
                <div class="list-view">
                    <table id="user-lists" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>USER NAME</th>
                                <th>PASSWORD</th>
                                <th>ROLE ID</th>
                                <th>ACTIVE</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.userlist)
                            {
                                <tr>
                                    <td>@x.id</td>
                                    <td>
                                        @x.username
                                    </td>
                                    <td>@x.pswd</td>
                                    <td>
                                        <span class="badge bg-success-gradient">@x.role.rolename</span>
                                    </td>
                                    <td>@x.IsActive</td>
                                    <td>
                                        <a class="btn btn-success me-2" href="/user/edituser/@x.id">
                                            <i class="cil-pencil icon icon-sm"></i>
                                        </a>
                                        <a class="btn btn-info me-2" href="/user/deleteuser/@x.id">
                                            <i class="cil-trash icon icon-sm"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>