@model App.Models.usermodel
@{
    Layout = "~/Views/_adminlayout.cshtml";
    var breadcrumb = Model.tabid == 1 ? "Role" : Model.tabid == 2 ? "Pages" : Model.tabid == 3 ? "Role Pages" : "User";
}


<div class="wrapper d-flex flex-column min-vh-100 bg-light bg-opacity-50 dark:bg-transparent">
    <partial name="/Views/_adminheader.cshtml">

        <div class="body flex-grow-1 px-3">
            <div class="container-lg">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <span>Home</span>
                        </li>
                        <li class="breadcrumb-item active"><span>@breadcrumb</span></li>
                    </ol>
                </nav>

                <div class="row user-details">
                    <div class="col-lg-12">
                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                                @*<a class="nav-link active" data-coreui-target="#role"
                                                data-coreui-toggle="tab">
                                                Role
                                                </a>*@

                                                @if (Model.tabid == 1)
                                                {
                                                    <a class="nav-link active" data-coreui-target="#role"
                                                   href="/user/role">
                                                        Role
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="nav-link" data-coreui-target="#role"
                                                   href="/user/role">
                                                        Role
                                                    </a>
                                                }


                                                @*data-coreui-toggle="tab"*@


                                            </li>
                                            <li class="nav-item">
                                                @if (Model.tabid == 2)
                                                {
                                                    <a class="nav-link active" data-coreui-target="#pages"
                                                   href="/user/viewpage">
                                                        Pages
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="nav-link" data-coreui-target="#pages"
                                                   href="/user/viewpage">
                                                        Pages
                                                    </a>
                                                }
                                            </li>
                                            <li class="nav-item">
                                                @if (Model.tabid == 3)
                                                {
                                                    <a class="nav-link active" data-coreui-target="#rolePages" href="/user/viewrolepage">
                                                        Role Pages
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="nav-link" data-coreui-target="#rolePages" href="/user/viewrolepage">
                                                        Role Pages
                                                    </a>
                                                }
                                            </li>
                                            <li class="nav-item">
                                                @if (Model.tabid == 4)
                                                {
                                                    <a class="nav-link active" data-coreui-target="#users" href="/user/viewusers">
                                                        User
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="nav-link" data-coreui-target="#users" href="/user/viewusers">
                                                        User
                                                    </a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-body ">
                                <div class="tab-content">
                                    <partial name="_role" for="@Model">
                                        <partial name="_pages" for="@Model">
                                            <partial name="_rolepage" for="@Model">
                                                <partial name="_user" for="@Model">
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs with icons on Card -->
                    </div>
                </div>
            </div>
        </div>

        <partial name="/Views/_adminfooter.cshtml">

</div>
