@model IEnumerable<WebApplication1.Entity.TblUser>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roleid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createdby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updatedby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createddate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updateddate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roleid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createddate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updateddate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
