@model App.Models.suppliermodel

@{
    var isactive = Model.tabid == 3 ? "active" : "inactive";
}
<div class="tab-pane @isactive" id="mastertypefields">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="supplier" asp-action="addmastertypefield" id="master_fields"  method="post" class="form">
                    <div class="row">
                        <input type="hidden" asp-for="tabid">
                        <input type="hidden" asp-for="mastertypefield.id">
                        <div class="col-md-6 mb-3">
                            <label for="mastertypeid" class="form-label fw-semibold">MASTER TYPE ID:</label>

                            <select required class="form-control" id="roleId" asp-for="mastertypefield.mastertypeid" asp-items="@(new SelectList(Model.mastertypelist,"id","description"))"></select>
                            @* <select class="form-multi-select" id="mastertypeid"
                                    multiple data-coreui-search="true">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>*@
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="masterfieldid" class="form-label fw-semibold">MASTER FIELD ID:</label>
                            <select required class="form-control" id="roleId" asp-for="mastertypefield.masterfieldid" asp-items="@(new SelectList(Model.masterfieldlist,"id","name"))"></select>
                            @*<select class="form-multi-select" id="masterfieldid"
                                    multiple data-coreui-search="true">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>*@
                        </div>

                    </div>

                    <button type="submit" class="btn btn-info rounded-pill w-25 mt-3 mb-3 fw-semibold text-light text-center ms-auto text-uppercase justify-content-end">Submit</button>
                </form>



                <div class="list-view">
                    <table id="mastertypefield-lists" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>MASTER TYPE ID</th>
                                <th>MASTER FIELD ID</th>

                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.mastertypefieldlist != null)
                            {
                                @foreach (var x in Model.mastertypefieldlist)
                                {
                                    <tr>
                                        <td>@x.id</td>
                                        <td>
                                            <span class="badge bg-success-gradient">@x.mastertype.description</span>
                                        </td>
                                        <td>
                                            <span class="badge bg-success-gradient">@x.masterfield.name</span>
                                        </td>

                                        <td>
                                            <a class="btn btn-success me-2" href="/supplier/editmastertypefield/@x.id">
                                                <i class="cil-pencil icon icon-sm"></i>
                                            </a>
                                            <a class="btn btn-info me-2" href="/supplier/deletemastertypefield/@x.id">
                                                <i class="cil-trash icon icon-sm"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>